.alignment {
    width: 25%;
    height: 30%;
    padding: 2%
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
    float: left;
}

.dropdown .dropbtn {
    outline: none;
    font-size: 16px;    
    color: white;
    padding: 14px 16px;
    border: none;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #f9f9f9;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-align: left;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
